
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<title>Quantum Computing Problem Solver</title>
<link rel="stylesheet" href="style.css" />
</head>

<body>
<h1>Quantum Computing Problem Solver</h1>

<p>
This application can help you solve quantum computing problems by providing a user-friendly interface. You can input your problem parameters, choose an algorithm, and get the solution.
</p>

<a href="solve.html">
<button type="button">Solve a Problem</button>
</a>
</body>

</html>


